html {
  background: var(--paper);
  color: var(--ink);
  animation: fade-in 1s;
}
html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-body);
}
body {
  display: grid;
  margin: auto;
  min-height: 100vh;
  gap: var(--gap);
  max-width: var(--container);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
